body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dx-scheduler-work-space-month .dx-scheduler-date-table-cell {
  height: 100px;
  vertical-align: top;
  text-align: right;
  color: #959595;
}
.dx-scheduler-date-table-cell {
  height: 25px;
}

.dx-scheduler-time-panel-cell {
    height: 25px;
}
a {
  color: white;
  text-decoration: none;
}